.padding-left {
    padding-left: 0;
}

.form-check-input:checked {
    background-color: #512b00 !important; 
    border-color: #512b00 !important;
}

.login-prompt {
    background-color: #e8b16d;
    height: 75px;
    width: 100%;
    line-height: 50px;
    padding-left: 10px;
    padding-top: 13px;
  
  }
  
  .deliver-method {
    height: 4vw;
    width:20vw;
    font-size: 2vw;
    border-radius: 30px;
    background-color: #77480e;
    color: #f4e9dc;
    border: none;
  }

  .deliver {
    margin-right: 3vw;
  }
  
  .cont-btn {
    border-radius: 20px;
    height: 5vw;
    width: 40vw;
    font-size: 3vw;
    background-color: #77480e;
    color: #f4e9dc !important;
    border: none;
  }

  #spinner {
    height:2rem;

  }

  .form-control {
    background-color: #f4e9dc !important;
    text-align: center;
    color: #512b00;
    font-size: 1.7vw;
  }