


.menu-nav-buttons-dinner{
	background-color: var(--tertiary);
	/* text-align-last: center; */
	margin: 2vw;
	font-size: 2.4vw;
	border-radius: 7%;
	border-width: 0vw;
}
.menu-nav-buttons-dinner:hover{
	background-color: rgb(178, 167, 155);
	color: var(--dark);
	
	/* text-align-last: center; */

}
@media screen and (max-width: 1024px) {
	.menu-nav-buttons-dinner{
		margin: 1.5vw;
	}
}
@media screen and (max-width: 912px) {
	.menu-nav-buttons-dinner{
		margin: 0.2vw;
		margin-left: 0;
		font-size: 2.4vw;
		border-width: 0.3vw;
	}
}
@media screen and (max-width: 820px) {
	.menu-nav-buttons-dinner{
		margin: 0.5vw;
		
		border-width: 0.3vw;
	}
}
@media screen and (max-width: 768px) {
	.menu-nav-buttons-dinner{
		margin: 0.2vw;
	
		border-width: 0.3vw;
	}
}
@media screen and (max-width: 640px) {
	.menu-nav-buttons-dinner{
		margin: 0.1vw;
		
		border-width: 0.3vw;
		top:0;
	}
}
@media screen and (max-width: 414px) {
	.menu-nav-buttons-dinner{
		margin: 0.2vw;
		margin-left: 0;
	
		border-width: 0.3vw;
		top:0;
	}
}
@media screen and (max-width: 390px) {
	.menu-nav-buttons-dinner{
		margin: 0.2vw;
	
		border-width: 0.3vw;
		top:0;
	}
}

@media screen and (max-width: 375px) {
	.menu-nav-buttons-dinner{
		margin: 0.1vw;
	
		border-width: 0.3vw;
		top:0;
	}
}