/* ABOUT ME SECTION */
#about-section {
    display: flex;
	flex-direction: row;
}
#profile-img {
   height:100%;
   width:100%;
   object-fit:none;
}

#about {
	font-size: 35px;
	color: var(--primary);
}

.about {
	font-size: 1rem;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-style: italic;
}

@media screen and (max-width: 767px) {
    #about-section {
        
    }
    #profile-img{
     height:30vw;
     }
    }
