


#dinner-menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
}

#dinner-background {
	background-image: url('../assets/dinner-menu-background.png');
	padding: 5rem;
	background-size: contain;
}


#title {
	font-size: 5vw;
	text-align: center;
}

#active-tab-dinner {
	background-color: black;
    color: var(--light);
	padding: 0.75vw 0.75vw 0.75vw 3vw;
	margin: 0;
	border: 0;
	font-size: 3vw;
}

#not-active-tab-dinner {
	background-color: #b9b9b9;
	color: #000000b4;
	padding: 0.75vw 0.75vw 0.75vw 3vw;
	margin: 0;
	border: 0;
	font-size: 3vw;
}

#not-active-tab-dinner:hover {
	background-color: #f6e9d7;
	color: #512b00ef;
	padding: 0.75vw 0.75vw 0.75vw 3vw;
	margin: 0;
	border: 0;
	font-size: 3vw;
}

/* #dish-card {
 width: 30rem;
 font-size: 30px;;
} */



#brunch {
	background-color: var(--tertiary);
	padding: 2vw;
	border: 0px;
}
.menu-nav-buttons-dinner{
	background-color: var(--tertiary);
	text-align-last: center;
	font-size: 1.5vw;
    padding: 1rem;
}
.menu-nav-buttons-dinner:hover{
	background-color: rgb(178, 167, 155);
	color: var(--dark);
	text-align-last: center;
	font-size: 1.5vw;
}



#scroll-to-top {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	color: #9e713e;
	text-align: center;
	background-color: #d6a05e44;
	;
	}

	#scroll-to-top:hover {
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		color: var(--dark);
		text-align: center;
		background-color: #d6a05e44;
		;
		}











