.cart-cards {
    /* border: 2px solid; */
    padding-left: 0;
    padding-right: 0;
}

/* .col {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 100px;
} */

.date {
    height: 40px;
    padding-top: 8px;
    background-color: #77480e;
    color: #f4e9dc;

}

.summary {
    height: 100px;
    padding-top: 5px;
}

.counter {
    padding-right: 2px;
    border: 1px solid black;
    height: 30px;
}

.counter span {
    margin-left: 5px;
}

ul {
    list-style-type: none;
    line-height: 20px;
}

.cart-price {
    height: 100px;
    border-bottom: 1px solid black;
    /* border-top: 1px solid black; */
}